doctype
html
  head
    title #{defaultTitle}
    include jade/meta.jade
    style
      :stylus
        @require 'css/critical'
  body.tundra
    include jade/svg.jade
    #root
    div#layer-modal.modal-wrapper.hidden
    div#share-modal.modal-wrapper.hidden
    script.
      var _versions = {
        cache: '#{version}',
        esri: '#{esriVersion}'
      };
      var base = location.href.replace(/\/[^/]+$/, '');
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        packages: [
          { name: 'js', location: base + '/js' },
          { name: 'vendor', location: base + '/vendor' },
          { name: 'utils', location: base + '/js/utils' },
          { name: 'stores', location: base + '/js/stores' },
          { name: 'actions', location: base + '/js/actions' },
          { name: 'constants', location: base + '/js/constants' },
          { name: 'components', location: base + '/js/components' },
          { name: 'helpers', location: base + '/js/helpers' }
        ],
        aliases: [
          ['js/main', '#{main}'],
          ['resources', 'js/resources'],
          ['alt', 'vendor/alt/dist/alt.min'],
          ['react', 'vendor/react/react.min'],
          ['react-dom', 'vendor/react/react-dom.min'],
          ['showdown', 'vendor/showdown/dist/showdown.min'],
          ['babel-polyfill', 'vendor/babel-polyfill/browser-polyfill']
        ],
        deps: ['dojo/domReady!'],
        callback: function () {require(['js/main']);}
      };
    //- PROD: if new modules are added, regenerate the JSAPI build
    script(src='//js.arcgis.com/o/RobertW/GFW-MapBuilder-0.1.0/dojo/dojo.js', async)
    //- DEV: Use the normal JSAPI
    //- script(src='//js.arcgis.com/#{esriVersion}/init.js', async)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
