doctype
html
  head
    title #{defaultTitle}
    include jade/meta.jade

    style
      :stylus
        @require 'css/critical'
    //- link(rel='stylesheet', href='css/app.css?#{version}')
    //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
    //- link(rel='stylesheet', href='http://js.arcgis.com/#{esriVersion}/esri/css/esri.css')
  body.nihilo
    include jade/svg.jade
    #root
    div#layer-modal.modal-wrapper.hidden
    div#share-modal.modal-wrapper.hidden
    script.
      var _versions = {
        cache: '#{version}',
        esri: '#{esriVersion}'
      };
      var base = location.href.replace(/\/[^/]+$/, '');
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        cacheBust: '#{version}',
        packages: [
          { name: 'js', location: base + '/js' },
          { name: 'vendor', location: base + '/vendor' },
          { name: 'utils', location: base + '/js/utils' },
          { name: 'stores', location: base + '/js/stores' },
          { name: 'actions', location: base + '/js/actions' },
          { name: 'constants', location: base + '/js/constants' },
          { name: 'components', location: base + '/js/components' },
          { name: 'helpers', location: base + '/js/helpers' }
        ],
        aliases: [
          ['resources', 'js/resources'],
          ['alt', 'vendor/alt/dist/alt.min'],
          ['react', 'vendor/react/react.min'],
          ['react-dom', 'vendor/react/react-dom.min'],
          ['babel-polyfill', 'vendor/babel-polyfill/browser-polyfill']
        ],
        deps: ['dojo/domReady!'],
        callback: function () {require(['js/main']);}
      };
    //- PROD: if new modules are added, regenerate the JSAPI build
    //- script(src='http://js.arcgis.com/o/RobertW/GFW-MapBuilder-0.1.0/dojo/dojo.js', async)
    //- DEV: Use the normal JSAPI
    script(src='http://js.arcgis.com/#{esriVersion}/init.js', async)
