doctype
html
  head
    title #{defaultTitle}
    include jade/meta.jade
    style
      :stylus
        @require 'css/critical'
  body.tundra
    include jade/svg.jade
    #root
    div#layer-modal.modal-wrapper.hidden
    div#share-modal.modal-wrapper.hidden
    script.
      var _app = {
        cache: '#{version}',
        esri: '#{esriVersion}',
        base: '#{base}'
      };

      function makePath (base, path) {
        var position = base.length - 1;
        return !path ?
          (base.indexOf('/', position) !== position ? base + '/' : base) :
          (base.indexOf('/', position) !== position ?
            base + '/' + path :
            base + path
          )
      }
      function getResourcePath (path) {
        var position = path.length - 1;
        return path.indexOf('/', position) === position ? path.slice(0, -1) : path;
      }
      // Change this to '' if _app.base is a remote url
      var base = location.href.replace(/\/[^/]+$/, '');
      // Add trailing slash if it is not present
      base = makePath(base);

      // Add _app.base if it is present
      if (_app.base) { base = makePath(base, _app.base); }
      var dojoConfig = {
        parseOnLoad: false,
        async: true,
        packages: [
          { name: 'root', location: getResourcePath(location.href.replace(/\/[^/]+$/, ''))},
          { name: 'js', location: makePath(base, 'js')},
          { name: 'vendor', location: makePath(base, 'vendor')},
          { name: 'utils', location: makePath(base, 'js/utils')},
          { name: 'stores', location: makePath(base, 'js/stores')},
          { name: 'actions', location: makePath(base, 'js/actions')},
          { name: 'constants', location: makePath(base, 'js/constants')},
          { name: 'components', location: makePath(base, 'js/components')},
          { name: 'helpers', location: makePath(base, 'js/helpers')}
        ],
        aliases: [
          ['resources', 'root/resources'],
          ['alt', 'vendor/alt/dist/alt.min'],
          ['react', 'vendor/react/react'],
          ['react-dom', 'vendor/react/react-dom'],
          ['babel-polyfill', 'vendor/babel-polyfill/browser-polyfill'],
          ['jquery', 'vendor/jquery/dist/jquery.min'],
          ['picker', 'vendor/pickadate/lib/compressed/picker'],
          ['pickadate', 'vendor/pickadate/lib/compressed/picker.date'],
          ['FileSaver', 'vendor/file-saver.js/FileSaver']
        ],
        deps: ['dojo/domReady!'],
        callback: function () {require(['js/main']);}
      };
    //- PROD: if new modules are added, regenerate the JSAPI build
    //- script.
    //-   var _app = {
    //-     cache: '#{version}',
    //-     esri: '#{esriVersion}',
    //-     base: '#{base}'
    //-   };
    //-
    //-   function makePath (base, path) {
    //-     var position = base.length - 1;
    //-     return !path ?
    //-       (base.indexOf('/', position) !== position ? base + '/' : base) :
    //-       (base.indexOf('/', position) !== position ?
    //-         base + '/' + path :
    //-         base + path
    //-       )
    //-   }
    //-   function getResourcePath (path) {
    //-     var position = path.length - 1;
    //-     return path.indexOf('/', position) === position ? path.slice(0, -1) : path;
    //-   }
    //-   // Change this to '' if _app.base is a remote url
    //-   var base = location.href.replace(/\/[^/]+$/, '');
    //-   // Add trailing slash if it is not present
    //-   base = makePath(base);
    //-   // Add _app.base if it is present
    //-   if (_app.base) { base = makePath(base, _app.base); }
    //-
    //-   function loadjsfile(filename, base) {
    //-     const dojoInit = base + filename;
    //-     const script = document.createElement('script');
    //-     script.src = dojoInit;
    //-     document.getElementsByTagName('head')[0].appendChild(script);
    //-   }
    //-
    //-   loadjsfile('/vendor/arcgis-api/dojo/dojo.js', base);
    script(src='https://my.gfw-mapbuilder.org/js/arcgis-api-mapbuilder-1.2/dojo/dojo.js', async)
    //- DEV: Use the normal JSAPI
    //script(src='//js.arcgis.com/#{esriVersion}/init.js', async)
    //- script(src='vendor/dojo/dojo.js', async)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
